In [1]:
#-*-coding: utf-8 -*-
# Hide the Configuration and Warning
import os
os.environ["TF_CPP_MIN_LOG_LEVEL"]='3'

In [2]:
#Import the Used Packages
import pandas as pd
import numpy as np
import tensorflow as tf
import random

In [3]:
#koo
import tensorflow.compat.v1 as tf
# Clear the Stack
tf.reset_default_graph

In [4]:
# Read Training Data
train_data = pd.read_csv('Training_data.csv', header=None)
train_data = np.array(train_data).astype('float32')

In [5]:
# Read Training Labels
train_labels = pd.read_csv('Training_labels.csv', header=None)

In [6]:
#koo
train_labels

       0
0      2
1      1
2      2
3      1
4      1
...   ..
24338  0
24339  3
24340  0
24341  2
24342  1

[24343 rows x 1 columns]

In [7]:
train_labels = np.array(train_labels).astype('float32')

In [8]:
#koo
train_labels

array([[2.],
       [1.],
       [2.],
       ...,
       [0.],
       [2.],
       [1.]], dtype=float32)

In [9]:
train_labels = tf.one_hot(indices=train_labels, depth=4)

In [10]:
#koo
train_labels

<tf.Tensor: shape=(24343, 1, 4), dtype=float32, numpy=
array([[[0., 0., 1., 0.]],

       [[0., 1., 0., 0.]],

       [[0., 0., 1., 0.]],

       ...,

       [[1., 0., 0., 0.]],

       [[0., 0., 1., 0.]],

       [[0., 1., 0., 0.]]], dtype=float32)>

In [11]:
train_labels = tf.squeeze(train_labels).eval(session=sess)

NameError: name 'sess' is not defined

In [ ]:
#koo
train_labels